
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  font-family: 'Segoe UI', 'Tahoma', 'Verdana', sans-serif;
  line-height: 1.7m;
}
a {
  color: #333;
  text-decoration: none;
}
h1 {
  padding-bottom: 20px;
}
.container {
  margin: auto;
  max-width: 1100px;
  padding: 0 20px;
  overflow: auto;
}
.text-primary {
    color:orange;
}
.btn {
    display: inline-block;
    font-size: 18px;
    background: #333;
    color: #fff;
    padding: 13px 20px;
    border: none;
    cursor: pointer;
}
.btn:hover {
    background-color: #f7c08a;
    color: #333;
}
#navbar {
  background: darkred;
  color: #fff;
  overflow: auto;
}
#navbar a {
  color: #fff;
}
#navbar ul {
  float: right;
  list-style: none;
}
#navbar ul li {
  float: left;
}
#navbar ul li a {
  display: block;
  padding: 20px;
  text-align: center;
}
#navbar ul li a:hover {
  background: #761210;
  color: #D0A718;
}
#navbar ul li a:current {
  background: #761210;
  color: #D0A718;
}
#navbar h1 {
  padding-top: 20px;
  float: center
}
#showcase {
    background: url('casino.jpg') no-repeat center center/cover;
    height: 600px;
}
#showcase .showcase-content {
    color: white;
    text-align: center;
    padding-top: 170px;
}
#showcase .showcase-content h1 {
    font-size: 60px;
    line-height: 1.2em;
}
#showcase .showcase-content p {
    padding-bottom: 20px;
    line-height: 1.7em;
}
.title_text {
    font-size: 60px;
    text-shadow: 6px 6px 6px black;
    text-align: center;
    font-family: none;
}
