
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  font-family: 'Segoe UI', 'Tahoma', 'Verdana', sans-serif;
  line-height: 1.7m;
}
a {
  color: #333;
  text-decoration: none;
}
h1 {
  padding-bottom: 20px;
}
.container {
  margin: auto;
  max-width: 1100px;
  padding: 0 20px;
  overflow: auto;
}
#navbar {
  background: darkred;
  color: #fff;
  overflow: auto;
}
#navbar a {
  color: #fff;
}
#navbar ul {
  float: right;
  list-style: none;
}
#navbar ul li {
  float: left;
}
#navbar ul li a {
  display: block;
  padding: 20px;
  text-align: center;
}
#navbar ul li a:hover {
  background: #761210;
  color: #D0A718;
}
#navbar ul li a:current {
  background: #761210;
  color: #D0A718;
}
#navbar h1 {
  padding-top: 20px;
  float: center
}
.title_text {
  text-shadow: 6px 6px 6px black;
  text-align: center;
  font-size: larger;
  font-family: none;
}